@media only screen and (max-width: 5000px) and (min-width: 768px){
    /* Contact Us Start */
    #mobile-contact-banner{
        display: none;
    }
    /* Contact Us End */
}

@media only screen and (max-width: 5000px) and (min-width: 992px){
    /* Modal Start */
    #myModal .flying-img button{
        display: none;
    }
    /* Modal End */
}


@media only screen and (max-width: 1200px) and (min-width: 992px){
    /* Contact Us Start */
    #contact-banner .banner-text .text hr{
        width: 85%;
    }
    #get-map img{
        height: 628px;
    }
    #get-map iframe{
        height: 628px;
    }
    /* Contact Us End */

    /* Product Start */
    #biologica-content-section .product-2 .row{
        display: flex;
        flex-direction: column-reverse;
        
    }
    #biologica-content-section .product-4 .row{
        display: flex;
        flex-direction: column-reverse;
        
    }
    #biologica-content-section .product-6 .row{
        display: flex;
        flex-direction: column-reverse;
        
    }
    #biologica-content-section .product-1 img,
    #biologica-content-section .product-2 img,
    #biologica-content-section .product-3 img,
    #biologica-content-section .product-4 img,
    #biologica-content-section .product-5 img,
    #biologica-content-section .product-6 img{
        border-radius: 12px 12px 0 0;
    }
    #biologica-content-section .product-1-text,
    #biologica-content-section .product-2-text,
    #biologica-content-section .product-3-text,
    #biologica-content-section .product-4-text,
    #biologica-content-section .product-5-text,
    #biologica-content-section .product-6-text{
        border-radius: 0 0 12px 12px;
    }
    /* Product End */

    /* Home Start */
    #home-section .cards .card-shadow{
        width: 100%;
    }
    #home-section .improve-health .image .text{
        position: absolute;
        top: 30%;
        left: 8%;
        right: 35%;
    }
    #home-section .cards .card-1 .text h2{
        font-size: 28px;
    }
    #home-section .cards .card-2 .text h2{
        font-size: 28px;
    }
    #home-section .cards .card-3 .text h2{
        font-size: 28px;
    }
    #home-section .capibilty-cards .card-1 .text h3{
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 30px;
    }
    #home-section .cards .card-1 .text h2{
        padding: 0 0 57px 0;
    }
    #home-section .cards .card-2 .text h2{
        padding: 0 0 53px 0;
    }
    #home-section .capibilty-cards .card-1 .text .home-paragraph{
        padding-bottom: 30px;
    }
    #home-section .capibilty-cards .card-1 .text .home-paragraph-less h5{
        font-weight: 400;
        text-align: justify;
        margin-bottom: 224px;
        color: rgb(143, 143, 143);
    }
    #home-section .capibilty-cards .card-2 .text h3{
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 30px;
    }
    #home-section .capibilty-cards .card-3 .text h3{
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 30px;
    }
    #home-section .capibilty-cards .card-3 .text .home-paragraph{
        padding-bottom: 30px;
    }
    #home-section .capibilty-cards .card-3 .text .home-paragraph-less h5{
        font-weight: 400;
        text-align: justify;
        margin-bottom: 122px;
        color: rgb(143, 143, 143);
    }
    /* Home End */
}


@media only screen and (max-width: 991px) and (min-width: 768px){
    /* Modal Start */
    #myModal .flying-text .text button{
        display: none;
    }
    #myModal .flying-img button{
        margin: 20px 20px 0 0;
        font-size: 40px;
        color: #fff;
    }
    /* Modal End */

    /* About Us Start */
    #biologica-content-section .about-heading h1{
        font-size: 30px;
    }
    /* About Us End */

    /* Navbar Start */
    #biologica-nav nav .nav-spacing{
        margin: 0 0;
    }
    #biologica-nav .nav-item .nav-link{
        font-size: 18px;
    }
    /* Navbar End */

    /* Contact Us Start */
    #biologica-content-section .contact-form .form label{
        font-size: 14px;
    }
    #biologica-content-section .contact-location{
        padding: 0;
    }
    #contact-banner .banner-text .text h1{
        font-size: 28px;
    }
    #biologica-content-section .contact-form .form .form-btn{
        float: none;
    }
    #biologica-content-section .contact-location .get-btn{
        float: none;
    }
    .btn-center{
        text-align: center;
    }
    #get-map img{
        height: 625px;
    }
    #get-map iframe{
        height: 625px;
    }
    /* Contact Us End */

    /* Product Start */
    #biologica-content-section .product-2 .row{
        display: flex;
        flex-direction: column-reverse;
        
    }
    #biologica-content-section .product-4 .row{
        display: flex;
        flex-direction: column-reverse;
        
    }
    #biologica-content-section .product-6 .row{
        display: flex;
        flex-direction: column-reverse;
        
    }
    #biologica-content-section .product-1 img,
    #biologica-content-section .product-2 img,
    #biologica-content-section .product-3 img,
    #biologica-content-section .product-4 img,
    #biologica-content-section .product-5 img,
    #biologica-content-section .product-6 img{
        border-radius: 12px 12px 0 0;
    }
    #biologica-content-section .product-1-text,
    #biologica-content-section .product-2-text,
    #biologica-content-section .product-3-text,
    #biologica-content-section .product-4-text,
    #biologica-content-section .product-5-text,
    #biologica-content-section .product-6-text{
        border-radius: 0 0 12px 12px;
    }
    /* Product End */

    /* Footer Start */
    footer .footer-terms-policy h5{
        font-size: 16px;
    }
    /* Footer End */

    /* Home Start */
    #home-section .home-hero-section .col-lg-7{
        margin-bottom: 10px;
        height: 400px;
    }
    #home-section .home-hero-section .update{
        margin-bottom: 30px;
    }
    #home-section .cards .card-shadow{
        width: 100%;
    }
    #home-section .improve-health .image .text{
        position: absolute;
        top: 30%;
        left: 10%;
        right: 13%;
    }
    #home-section .cards .card-shadow-1{
        margin: auto;
    }
    #home-section .cards .card-shadow-3{
        margin: auto;
        float: none;
    }
    /* Home End */

    /* Product Start */
    #biologica-content-section .global-health{
        height: 950px;
    }
    /* Product End */
}


@media only screen and (max-width: 767px){
    /* Navbar Start */
    #biologica-nav nav{
        padding: 15px 10px;
    }
    /* Navbar End */

    /* Contact Us Start */
    #contact-banner{
        display: none;
    }
    #mobile-contact-banner{
        background: url('../assets/contact/Photo-1.png');
        background-size: cover;
        width: 100%;
        height: 500px;
    }
    #mobile-contact-banner .mobile-banner{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
        color: #fff;
        opacity: 0.9;
        background: linear-gradient(to bottom right, #0e0f1b, #0e1836, #0e0f1b);
    }
    #mobile-contact-banner .mobile-banner .banner-text .text h1{
        font-size: 50px;
        font-weight: 500;
        margin-bottom: 0;
    }
    #mobile-contact-banner .mobile-banner .banner-text .text hr{
        width: 70%;
        height: 3px;
        margin: 16px auto 16px auto;
        background: linear-gradient(to right,yellow, orange, red, violet, #4792e5, #0adaa8);
    }
    #biologica-content-section .contact-form .contact-location{
        height: 580px;
    }
    /* Contact Us End */

    /* Product Start */
    #biologica-content-section .global-health .overlay-main .button{
        text-align: center;
    }
    #biologica-content-section .global-health .overlay-main .button a{
        float: none;
    }
    #biologica-content-section .product-1,
    #biologica-content-section .product-2,
    #biologica-content-section .product-3,
    #biologica-content-section .product-4,
    #biologica-content-section .product-5{
        margin: 0 0 15px 0;
    }
    #biologica-content-section .product-1 img,
    #biologica-content-section .product-2 img,
    #biologica-content-section .product-3 img,
    #biologica-content-section .product-4 img,
    #biologica-content-section .product-5 img,
    #biologica-content-section .product-6 img{
        border-radius: 12px 12px 0 0;
    }
    #biologica-content-section .product-1-text,
    #biologica-content-section .product-2-text,
    #biologica-content-section .product-3-text,
    #biologica-content-section .product-4-text,
    #biologica-content-section .product-5-text,
    #biologica-content-section .product-6-text{
        border-radius: 0 0 12px 12px;
    }
    #biologica-content-section .product-6{
        margin: 0;
    }
    #biologica-content-section .product-1-text .text p,
    #biologica-content-section .product-2-text .text p,
    #biologica-content-section .product-3-text .text p,
    #biologica-content-section .product-4-text .text p,
    #biologica-content-section .product-5-text .text p,
    #biologica-content-section .product-6-text .text p{
        font-size: 16px;
    }
    #biologica-content-section .product-heading p{
        font-size: 16px;
        margin: 0 0 20px 0;
        
    }
    #biologica-content-section .product-heading h1{
        margin: 0 0 15px 0;
    }
    #biologica-content-section .product-2 .row{
        display: flex;
        flex-direction: column-reverse;
        
    }
    #biologica-content-section .product-4 .row{
        display: flex;
        flex-direction: column-reverse;
        
    }
    #biologica-content-section .product-6 .row{
        display: flex;
        flex-direction: column-reverse;
        
    }
    /* Product End */

    /* Home Start */
    #home-section .home-hero-section .col-lg-7{
        margin-bottom: 10px;
        height: 400px;
    }
    #home-section .home-hero-section .update{
        margin-bottom: 20px;
    }
    #home-section .concept-text h5{
        font-size: 16px;
    }
    #home-section .testing-text h5{
        font-size: 16px;
    }
    #home-section .capibilty-cards .card-1 .text .home-paragraph-less h5,
    #home-section .capibilty-cards .card-2 .text .home-paragraph-less h5,
    #home-section .capibilty-cards .card-3 .text .home-paragraph-less h5{
        font-size: 16px;
    }
    #home-section .form-text h5{
        font-size: 16px;
        margin-bottom: 30px;
    }
    #home-section .home-form .form label{
        font-size: 16px;
    }
    #home-section .cards .card-shadow{
        width: 100%;
    }
    #home-section .improve-health .image .text{
        position: absolute;
        top: 15%;
        left: 10%;
        right: 13%;
        bottom: 15%;
    }
    #home-section .improve-health .image .text h2{
        font-size: 20px;
        color: #fff;
        text-transform: uppercase;
        text-align: right;
    }
    #home-section .cards .card-shadow-1{
        margin: auto;
    }
    #home-section .cards .card-shadow-3{
        margin: auto;
        float: none;
    }
    /* Home End */

    /* About Us Start */
    #biologica-breadcrumb .breadcrumb{
        margin-top: 10px;
    }
    #biologica-content-section .about-heading h1{
        margin-bottom: 0;
    }
    #biologica-content-section .about-paragraph .about-paragraph-less p{
        font-size: 16px;
        margin-top: 15px;
    }
    #biologica-content-section .about-paragraph .seeless{
        font-size: 16px;
        font-weight: 400;
    }
    #biologica-content-section .about-img img{
        margin: 15px 0;
        width: 100%;
    }
    /* About Us End */

    /* Contact Us Start */
    #biologica-content-section .contact-form .mb{
        margin: 20px 0;
    }
    #biologica-content-section .contact-form .form h6{
        font-size: 16px;
    }
    /* Contact Us End */

    /* Product Start */
    #biologica-content-section .global-health{
        height: 1150px;
    }
    #biologica-content-section .contact-form .form .form-btn{
        float: none;
    }
    .btn-center{
        text-align: center;
    }
    /* Product End */
    
}


@media only screen and (max-width: 767px) and (min-width: 576px){
    /* Modal Start */
    #myModal .flying-text .text button{
        display: none;
    }
    #myModal .flying-img button{
        margin: 10px 20px 0 0;
        font-size: 40px;
        color: #fff;
    }
    /* Modal End */
    /* About Us Start */
    #biologica-content-section .about-heading h1{
        font-size: 26px;
    }
    /* About Us End */
    
    /* Contact Us Start */
    #mobile-contact-banner .mobile-banner .banner-text .text hr{
        width: 80%;
    }
    #biologica-content-section .contact-form .form .form-btn{
        float: none;
    }
    #biologica-content-section .contact-location .get-btn{
        float: none;
    }
    .btn-center{
        text-align: center;
    }
    #biologica-content-section .contact-location{
        padding: 0;
    }
    #biologica-content-section .contact-location #get-map{
        margin-bottom: 100px !important;
    }
    /* Contact Us End */

    /* Footer Start */
    footer .footer-logo img{
        width: 50%;
    }
    footer .footer-terms-policy{
        margin: 50px 0;
    }
    /* Footer End */

    /* Home Start */
    #home-section .home-hero-section .col-lg-7{
        margin-bottom: 10px;
        height: 400px;
    }
    #home-section .home-hero-section .update{
        margin-bottom: 20px;
    }
    #home-section .cards .row .col-lg-4{
        margin-bottom: 20px;
    }
    #home-section .testing-text{
        margin-bottom: 30px;
    }
    #home-section .testing-text h1{
        margin-bottom: 10px;
    }
    #home-section .testing-text h5.mb{
        margin-bottom: 20px;
    }
    #home-section .capibilty-cards .col-lg-4{
        margin-bottom: 10px;
    }
    #home-section .capibilty-cards .card-1,
    #home-section .capibilty-cards .card-2,
    #home-section .capibilty-cards .card-3{
        padding: 0 20px;
    }
    #home-section .cards .card-shadow{
        width: 100%;
    }
    #home-section .testing-text h1{
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 700;
    }
    #home-section .home-form .form-text h1{
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 700;
    }
    #home-section .cards .card-shadow-1{
        margin: auto;
    }
    #home-section .cards .card-shadow-3{
        margin: auto;
        float: none;
    }
    #biologica-nav{
        z-index: 99;
    }
    #biologica-nav .navbar-brand img{
        width: 60%;
    }
    #mySidenav{
        z-index: 999;
    }
    /* Home End */

    /* Product Start */
    #biologica-content-section .global-health{
        height: 850px;
    }
    #biologica-content-section .global-health .overlay-main .heading-1 .text p,
    #biologica-content-section .global-health .overlay-main .heading-2 .text p{
        padding: 0;
    }
    /* Product End */

    /* Footer Start */
    footer .footer-logo {
        text-align: center;
    }
    /* Footer End */
}


@media only screen and (max-width: 575px) and (min-width: 471px){
    /* Navbar Start */
    #biologica-nav{
        z-index: 99;
    }
    #mySidenav{
        z-index: 999;
    }
    #biologica-nav .navbar-brand img{
        width: 60%;
    }
    /* Navbar End */
    /* Modal Start */
    #myModal .flying-text .text button{
        display: none;
    }
    #myModal .flying-img button{
        margin: 10px 20px 0 0;
        font-size: 40px;
        color: #fff;
    }
    /* Modal End */
    /* About Us Start */
    #biologica-content-section .about-heading h1{
        font-size: 24px;
    }
    /* About Us End */
    
    /* Contact Us Start */
    #mobile-contact-banner .mobile-banner .banner-text .text hr{
        width: 80%;
    }
    #biologica-content-section .contact-form .form h1{
        font-size: 28px;
    }
    #biologica-content-section .contact-form .contact-location h1{
        font-size: 28px;
    }
    #biologica-content-section .contact-location{
        padding: 0;
    }
    #biologica-content-section .contact-form .form .form-btn{
        float: none;
    }
    .btn-center{
        text-align: center;
    }
    #biologica-content-section .contact-location .get-btn{
        float: none !important;
    }
    #biologica-content-section .contact-location #get-map .btn-center{
        text-align: center;
    }
    /* Contact Us End */

    /* Footer Start */
    footer .footer-logo img{
        width: 50%;
    }
    footer .footer-terms-policy{
        margin: 50px 0;
    }
    footer .footer-logo {
        text-align: center;
    }
    /* Footer End */

    /* Home Start */
    #home-section .home-hero-section .col-lg-7{
        margin-bottom: 10px;
        height: 300px;
    }
    #home-section .home-hero-section .update{
        margin-bottom: 30px;
    }
    #home-section .cards .row .col-lg-4{
        margin-bottom: 20px;
    }
    #home-section .testing-text{
        margin-bottom: 30px;
    }
    #home-section .testing-text h1{
        margin-bottom: 10px;
    }
    #home-section .testing-text h5.mb{
        margin-bottom: 20px;
    }
    #home-section .capibilty-cards .col-lg-4{
        margin-bottom: 10px;
    }
    #home-section .cards .card-shadow{
        width: 100%;
    }
    #home-section .testing-text h1{
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 700;
    }
    #home-section .capibilty-cards .card-1 .text h3{
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 30px;
    }
    #home-section .capibilty-cards .card-2 .text h3{
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 30px;
    }
    #home-section .capibilty-cards .card-3 .text h3{
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 30px;
    }
    #home-section .home-form .form-text h1{
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 700;
    }
    #home-section .improve-health .image .text{
        position: absolute;
        top: 8%;
        left: 10%;
        right: 13%;
        bottom: 0;
    }
    #home-section .improve-health .image .text h2{
        font-size: 18px;
        color: #fff;
        text-transform: uppercase;
        text-align: right;
    }
    #home-section .improve-health .image .text .hr1{
        float: right;
        height: 10px;
        width: 27.8%;
        background-color: #050b50;
    }
    #home-section .improve-health .image .text .hr2{
        float: right;
        height: 10px;
        width: 27.8%;
        background-color: #050b50;
    }
    #home-section .cards .card-shadow-1{
        margin: auto;
    }
    #home-section .cards .card-shadow-3{
        margin: auto;
        float: none;
    }
    /* Home End */

    /* Product Start */
    #biologica-content-section .product-1, 
    #biologica-content-section .product-2, 
    #biologica-content-section .product-3, 
    #biologica-content-section .product-4, 
    #biologica-content-section .product-5, 
    #biologica-content-section .product-6{
        padding: 0 15px;
    }
    #biologica-content-section .global-health{
        height: 900px;
    }
    #biologica-content-section .global-health .overlay-main .heading-1 .text p,
    #biologica-content-section .global-health .overlay-main .heading-2 .text p{
        padding: 0;
    }
    /* Product End */
}


@media only screen and (max-width: 470px) and (min-width: 321px){
    /* Col Adjustment Start */
    #home-section .home-form .form .adjust-1{ 
        flex: 0 0 49.333333%;
        max-width: 49.333333%;
    }
    #home-section .home-form .form .adjust-2{ 
        flex: 0 0 50.666667%;
        max-width: 50.666667%;
    }
    #home-section .home-form .form button{
        font-size: 14px;
    }
    #biologica-content-section .global-health .overlay-main .heading-1 .col-9,
    #biologica-content-section .global-health .overlay-main .heading-2 .col-9{    
        flex: 0 0 65%;
        max-width: 65%;
    }
    #biologica-content-section .global-health .overlay-main .heading-1 .col-3,
    #biologica-content-section .global-health .overlay-main .heading-2 .col-3{  
        flex: 0 0 35%;
        max-width: 35%;
    }
    #biologica-content-section .global-health .overlay-main .heading-1 h5,
    #biologica-content-section .global-health .overlay-main .heading-2 h5{
        font-size: 18px;
    }
    #biologica-content-section .global-health .overlay-main{
        padding: 20px;
    }
    /* Col Adjustment Start */
    /* Modal Start */
    #myModal .flying-text .text button{
        display: none;
    }
    #myModal .flying-img button{
        margin: 10px 20px 0 0;
        font-size: 40px;
        color: #fff;
    }
    /* Modal End */

    /* About Us Start */
    #biologica-content-section .about-heading h1{
        font-size: 22px;
    }
    /* About Us End */
    
    /* Contact Us Start */
    #mobile-contact-banner .mobile-banner .banner-text .text hr{
        width: 80%;
    }
    #biologica-content-section .contact-heading h1{
        font-size: 35px;
    }
    #biologica-content-section .contact-form .form h1{
        font-size: 23px;
    }
    #biologica-content-section .contact-form .contact-location h1{
        font-size: 23px;
    }
    #biologica-content-section .contact-location{
        padding: 0;
    }
    #biologica-content-section .contact-form .form .form-btn{
        float: none;
    }
    .btn-center{
        text-align: center;
    }
    #biologica-content-section .contact-location .get-btn{
        float: none !important;
    }
    #biologica-content-section .contact-location #get-map .btn-center{
        text-align: center;
    }
    /* Contact Us End */

    /* Footer Start */
    footer .footer-logo img{
        width: 60%;
    }
    footer .footer-terms-policy{
        margin: 50px 0;
    }
    footer .footer-logo {
        text-align: center;
    }
    /* Footer End */

    /* Home Start */
    #home-section .home-hero-section .col-lg-7{
        margin-bottom: 10px;
        height: 250px;
    }
    #home-section .home-hero-section .humanity{
        padding: 0 30px 30px 30px;
    }
    #home-section .home-hero-section .humanity .text h2{
        font-size: 25px;
    }
    #home-section .home-hero-section .humanity .text h5{
        width: 100%;
        font-size: 18px;
    }
    #home-section .home-hero-section .update{
        margin-bottom: 30px;
    }
    #home-section .cards .row .col-lg-4{
        margin-bottom: 20px;
    }
    #home-section .testing-text{
        margin-bottom: 30px;
    }
    #home-section .testing-text h1{
        margin-bottom: 10px;
    }
    #home-section .testing-text h5.mb{
        margin-bottom: 20px;
    }
    #home-section .cards .card-1 .text h2,
    #home-section .cards .card-2 .text h2,
    #home-section .cards .card-3 .text h2{
        font-size: 25px;
    }
    #home-section .capibilty-cards .col-lg-4{
        margin-bottom: 10px;
    }
    #home-section .capibilty-cards .card-1,
    #home-section .capibilty-cards .card-2,
    #home-section .capibilty-cards .card-3{
        padding: 0 20px;
    }
    #home-section .cards .card-shadow{
        width: 100%;
    }
    #home-section .testing-text h1{
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 700;
    }
    #home-section .testing-text h1{
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 700;
    }
    #home-section .capibilty-cards .card-1 .text h3{
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 30px;
    }
    #home-section .capibilty-cards .card-2 .text h3{
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 30px;
    }
    #home-section .capibilty-cards .card-3 .text h3{
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 30px;
    }
    #home-section .home-form .form-text h1{
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 700;
    }
    #home-section .improve-health img{
        height: 250px;
    }
    #home-section .improve-health .image .text{
        position: absolute;
        top: 25%;
        left: 8%;
        right: 8%;
        bottom: 0;
    }
    #home-section .improve-health .image .text h2{
        font-size: 14px;
        color: #fff;
        margin-top: 50px;
        text-transform: uppercase;
        text-align: right;
    }
    #home-section .improve-health .image .text .hr1{
        float: right;
        height: 8px;
        width: 27.8%;
        background-color: #050b50;
    }
    #home-section .improve-health .image .text .hr2{
        float: right;
        height: 8px;
        width: 27.8%;
        background-color: #050b50;
    }
    #home-section .cards .card-shadow-1{
        margin: auto;
    }
    #home-section .cards .card-shadow-3{
        margin: auto;
        float: none;
    }
    #biologica-nav{
        z-index: 99;
    }
    #biologica-nav .navbar-brand img{
        width: 100%;
    }
    #mySidenav{
        z-index: 999;
    }
    /* Home End */

    /* Product Start */
    #biologica-content-section .product-heading h1{
        font-size: 35px;
    }
    #biologica-content-section .global-health .overlay-main h2{
        font-size: 25px;
    }
    #biologica-content-section .product-1, 
    #biologica-content-section .product-2, 
    #biologica-content-section .product-3, 
    #biologica-content-section .product-4, 
    #biologica-content-section .product-5, 
    #biologica-content-section .product-6{
        padding: 0 15px;
    }
    #biologica-content-section .product-1-text,
    #biologica-content-section .product-2-text,
    #biologica-content-section .product-3-text,
    #biologica-content-section .product-4-text,
    #biologica-content-section .product-5-text,
    #biologica-content-section .product-6-text{
        padding: 20px;
    }
    #biologica-content-section .product-1-text .text h5,
    #biologica-content-section .product-2-text .text h5,
    #biologica-content-section .product-3-text .text h5,
    #biologica-content-section .product-4-text .text h5,
    #biologica-content-section .product-5-text .text h5,
    #biologica-content-section .product-6-text .text h5{
        font-size: 16px;

    }
    #biologica-content-section .product-1-text .text h1,
    #biologica-content-section .product-2-text .text h1,
    #biologica-content-section .product-3-text .text h1,
    #biologica-content-section .product-4-text .text h1,
    #biologica-content-section .product-5-text .text h1,
    #biologica-content-section .product-6-text .text h1{
        font-size: 20px;
    }
    #biologica-content-section .global-health{
        height: 1090px;
    }
    #biologica-content-section .global-health .overlay-main .heading-1 .text p,
    #biologica-content-section .global-health .overlay-main .heading-2 .text p{
        padding: 0;
    }
    /* Product End */
}


@media only screen and (max-width: 320px) and (min-width: 100px){
    /* Col Adjustment Start */
    #home-section .home-form .form .adjust-1{ 
        flex: 0 0 40.333333%;
        max-width: 40.333333%;
    }
    #home-section .home-form .form .adjust-2{ 
        flex: 0 0 59.666667%;
        max-width: 59.666667%;
    }
    #home-section .home-form .form button{
        font-size: 13px;
    }
    #biologica-content-section .global-health .overlay-main .heading-1 .row,
    #biologica-content-section .global-health .overlay-main .heading-2 .row{    
        display: flex;
        flex-direction: column-reverse;
    }
    #biologica-content-section .global-health .overlay-main .heading-1 .col-9,
    #biologica-content-section .global-health .overlay-main .heading-2 .col-9{    
        flex: 0 0 100%;
        max-width: 100%;
    }
    #biologica-content-section .global-health .overlay-main .heading-1 img,
    #biologica-content-section .global-health .overlay-main .heading-2 img{
        width: 50%;
    }
    #biologica-content-section .global-health .overlay-main .heading-1 .col-3,
    #biologica-content-section .global-health .overlay-main .heading-2 .col-3{  
        flex: 0 0 100%;
        max-width: 100%;
    }
    #biologica-content-section .global-health .overlay-main .heading-1 h5,
    #biologica-content-section .global-health .overlay-main .heading-2 h5{
        font-size: 17px;
    }
    #biologica-content-section .global-health .overlay-main{
        padding: 20px;
    }
    #biologica-content-section .global-health .overlay-main .heading-1 .text p,
    #biologica-content-section .global-health .overlay-main .heading-2 .text p{
        font-size: 14px;
    }
    /* Col Adjustment Start */
    /* Modal Start */
    #myModal .flying-text .text button{
        display: none;
    }
    #myModal .flying-img button{
        margin: 10px 20px 0 0;
        font-size: 40px;
        color: #fff;
    }
    #myModal .flying-img{
        background-size: 400px 600px;
    }
    #myModal .flying-text .text h3{
        font-size: 18px;
    }
    #myModal .flying-text .text h5{
        font-size: 14px;
    }
    #myModal .flying-text .text a{
        font-size: 14px;
    }
    /* Modal End */

    /* About Us Start */
    #biologica-content-section .about-heading h1{
        font-size: 20px;
    }
    /* About Us End */
    
    /* Contact Us Start */
    #mobile-contact-banner .mobile-banner .banner-text .text hr{
        width: 80%;
    }
    #biologica-content-section .contact-heading h1{
        font-size: 35px;
    }
    #biologica-content-section .contact-form .form h1{
        font-size: 20px;
    }
    #biologica-content-section .contact-location{
        padding: 0;
    }
    #biologica-content-section .contact-form .contact-location h1{
        font-size: 20px;
    }
    #biologica-content-section .contact-form .form .form-btn{
        float: none;
    }
    .btn-center{
        text-align: center;
    }
    #biologica-content-section .contact-location .get-btn{
        float: none !important;
    }
    #biologica-content-section .contact-location #get-map .btn-center{
        text-align: center;
    }
    /* Contact Us End */
    
    /* Product Start */

    /* Product 1 */
    #biologica-content-section .product-heading h1{
        font-size: 25px;
    }
    #biologica-content-section .global-health .overlay-main h2{
        font-size: 25px;
    }
    #biologica-content-section .product-1, 
    #biologica-content-section .product-2, 
    #biologica-content-section .product-3, 
    #biologica-content-section .product-4, 
    #biologica-content-section .product-5, 
    #biologica-content-section .product-6{
        padding: 0 15px;
    }
    #biologica-content-section .product-1-text{
        padding: 40px 10px;
    }
    #biologica-content-section .product-1-text .text h5{
        font-size: 16px;
    }
    #biologica-content-section .product-1-text .text h1{
        font-size: 20px;
    }

    /* Product 2 */
    #biologica-content-section .product-2-text{
        padding: 40px 10px;
    }
    #biologica-content-section .product-2-text .text h5{
        font-size: 16px;
    }
    #biologica-content-section .product-2-text .text h1{
        font-size: 20px;
    }

    /* Product 3 */
    #biologica-content-section .product-3-text{
        padding: 40px 10px;
    }
    #biologica-content-section .product-3-text .text h5{
        font-size: 16px;
    }
    #biologica-content-section .product-3-text .text h1{
        font-size: 20px;
    }

    /* Product 4 */
    #biologica-content-section .product-4-text{
        padding: 40px 10px;
    }
    #biologica-content-section .product-4-text .text h5{
        font-size: 16px;
    }
    #biologica-content-section .product-4-text .text h1{
        font-size: 20px;
    }

    /* Product 5 */
    #biologica-content-section .product-5-text{
        padding: 40px 10px;
    }
    #biologica-content-section .product-5-text .text h5{
        font-size: 16px;
    }
    #biologica-content-section .product-5-text .text h1{
        font-size: 20px;
    }

    /* Product 6 */
    #biologica-content-section .product-6-text{
        padding: 40px 10px;
    }
    #biologica-content-section .product-6-text .text h5{
        font-size: 16px;
    }
    #biologica-content-section .product-6-text .text h2{
        font-size: 20px;
    }
    #biologica-content-section .global-health{
        height: 1250px;
    }
    #biologica-content-section .global-health .overlay-main .heading-1 .text p,
    #biologica-content-section .global-health .overlay-main .heading-2 .text p{
        padding: 0;
    }
    /* Product End */

    /* Footer Start */
    footer .footer-logo img{
        width: 60%;
    }
    footer .footer-terms-policy{
        margin: 50px 0;
    }
    footer .footer-partner-company img{
        width: 80%;
    }
    footer .footer-logo {
        text-align: center;
    }
    /* Footer End */

    /* Home Start */
    #home-section .home-hero-section .col-lg-7{
        margin-bottom: 10px;
        height: 250px;
    }
    #home-section .home-hero-section .humanity{
        padding: 0 30px 30px 30px;
    }
    #home-section .home-hero-section .humanity .text h2{
        font-size: 20px;
    }
    #home-section .home-hero-section .humanity .text h5{
        width: 100%;
        font-size: 14px;
    }
    #home-section .home-hero-section .update{
        margin-bottom: 30px;
    }
    #home-section .cards .row .col-lg-4{
        margin-bottom: 20px;
    }
    #home-section .testing-text{
        margin-bottom: 30px;
    }
    #home-section .testing-text h1{
        margin-bottom: 10px;
    }
    #home-section .testing-text h5.mb{
        margin-bottom: 20px;
    }
    #home-section .cards .card-1 .text h2,
    #home-section .cards .card-2 .text h2,
    #home-section .cards .card-3 .text h2{
        font-size: 20px;
    }
    #home-section .capibilty-cards .col-lg-4{
        margin-bottom: 10px;
    }
    #home-section .capibilty-cards .card-1,
    #home-section .capibilty-cards .card-2,
    #home-section .capibilty-cards .card-3{
        padding: 0 20px;
    }
    #home-section .cards .card-shadow{
        width: 100%;
    }
    #home-section .testing-text h1{
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 700;
    }
    #home-section .capibilty-cards .card-1 .text h3{
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 30px;
    }
    #home-section .capibilty-cards .card-2 .text h3{
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 30px;
    }
    #home-section .capibilty-cards .card-3 .text h3{
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 30px;
    }
    #home-section .home-form .form-text h1{
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;
    }
    #home-section .improve-health img{
        height: 200px;
    }
    #home-section .improve-health .image .text{
        position: absolute;
        top: 17%;
        left: 3%;
        right: 3%;
        bottom: 0;
    }
    #home-section .improve-health .image .text h2{
        font-size: 14px;
        color: #fff;
        margin-top: 40px;
        text-transform: uppercase;
        text-align: right;
    }
    #home-section .improve-health .image .text .hr1{
        float: right;
        height: 5px;
        width: 27.8%;
        background-color: #050b50;
    }
    #home-section .improve-health .image .text .hr2{
        float: right;
        height: 5px;
        width: 27.8%;
        background-color: #050b50;
    }
    #home-section .cards .card-shadow-1{
        margin: auto;
    }
    #home-section .cards .card-shadow-3{
        margin: auto;
        float: none;
    }
    #biologica-nav{
        z-index: 99;
    }
    #biologica-nav .navbar-brand img{
        width: 100%;
    }
    #mySidenav{
        z-index: 999;
    }
    /* Home End */
}
